.PlanetaryGears{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60vh;
  height: 60vh;
  path {
    fill: $clr-dark;
    fill-opacity: 0.1;
    stroke: $clr-dark;
    stroke-opacity: 0.25;
  }
}
