.PlanetaryGears{
  background-color: $clr-light;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  #GearsSvg
  {
    margin-top: 20vh;
    width: 60vh;
    height: 60vh;
  }
  path
  {
    fill: $clr-dark;
    fill-opacity: 0.25;
    stroke: $clr-dark;
    stroke-opacity: 1;
  }
}
