.UnderConstruction
{
  display: inline-block;
  position: relative;
  top: 25vh;
  padding: 5vh 5vw;
  margin-bottom: 40vh;
  border: 2px $clr-red solid;
  background-color: $clr-red;
  border-radius: 20px;
  color: $clr-light;

  p
  {
    font-size: 2rem;
  }
}
