.Welcome
{
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  .WelcomeText
  {
    height: 100%;
    text-align: left;
  }
  .WelcomeImg
  {
    max-height: 45vh;
    @media (min-width: 550px) {
      max-height: 60vh;
    }
  }
}
