/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($clr-dark, 0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: $clr-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($clr-blue, 10%);
}
