@import 'styles/_colors';
@import 'styles/_buttons';
@import 'styles/_scrollbar';

*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html
{
  background-color: $clr-light;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5
{
  font-family: 'Montserrat Alternates', sans-serif;
}

.App {
  text-align: center;
}

@import 'styles/components/_planetaryGears';
@import 'styles/components/_welcome';
@import 'styles/components/_navbar';
@import 'styles/components/_aboutMe';
@import 'styles/components/_underConstruction';
